#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;

}
.BookCard{
    margin-top: 5%;
    gap: 2%;
    /* background-color: rgb(255, 242, 242); */
    border-radius: 30px;
}
.Book{
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ImgBook{
    width: 170px;
    height: 250px;
}
a{
  text-decoration: none;
  color: #000000;
  word-wrap: break-word
}
.header{
  margin-top: 0;
}
.iconCard{
  background-color: #036280;
  border-radius: 10px;
  width: 80px;
  height: 80px;
}
.WhyUS{
  display: flex;
  gap: 60px;
  background-color: #e4f2ff;
  padding: 3%;
  border-radius: 25px;
  flex-wrap: nowrap;
}
.FeatureCard{
  display: flex;
}
.TextWhyUs{
  font-size: 24px;
  color: #012E4A;
}
.textgup{
display: flex;
flex-direction: column;
text-align: center;
margin-left: 1%;
}
.titleWhyUs{
  color:#4F536C;
  margin-top: 6%;
}
.RemoveBook{
  background-color: white;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  
}
.Right{
  display: flex;
  opacity: 0;
  justify-content: right;
  margin-right: 4%;
}
.BookCard:hover .Right{
  opacity: 1;
}
.BackImage{
  background-color: #F5F5F5;
    padding: 40px 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
.CenterButton{
  display: flex;
  justify-content: center;
}
.BuyBtn{
  padding: 1% 2%;
  background-color: #d0e1e7;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: none;
 color: #012E4A;
}
.BuyBtn:hover{
  background-color: rgb(182, 197, 211);
}
.NameBook{
  color: #012e4a ;
  
}
.Company{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.CompName{
  margin-left: 4%;

}